.App {
  text-align: center;
  background-color: #f9d71c; /* The yellow background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header{
  position: absolute;
  width: 50%;
  height: 50%;
  top: -30px;
}
 svg {
  width: 90%;
  height: 90%;
 }

 @keyframes draw {
  from {
    /* stroke-dashoffset: var(--path-length); */
    stroke-dashoffset: 6263.142578125;
  }
  to {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}
.path {
  /* Apply stroke color and width to each path individually */
  stroke: #000000;
  stroke-width: 1px;
  fill: none;
  /* stroke-dasharray: var(--path-length);
  stroke-dashoffset: var(--path-length); */
  stroke-dasharray: 6263.142578125;
  stroke-dashoffset: 6263.142578125;
  animation: draw 2s linear forwards;
}

.Unicorn-gif {
  /* Styles for unicorn GIFs */
}

.Response-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ff4081; /* A playful pink */
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.Response-buttons{
  position: relative;
}

.Response-buttons button:hover {
  transform: scale(1.1);
}

.No-button {
  position: absolute;
  
}

#root, html, body, .App {
  height: 100%;
}
